*{
    margin:0px;
    font-family: 'Open Sans', sans-serif;
    
}
/* 1st page design */
.header{
    background: #FFF8F3;
  
}


/* my navigations */
nav{
    display: flex;
    justify-content: space-between;
    background-color
}
nav ul{
    display: flex;
    list-style: none;
    margin-top: 30px;
    margin-right: 130px;
    align-items: center;
}


nav li{
    justify-content:space-between;
    margin: 20px 55px 5px;
    background-color: antiquewhite;
    align-items: center;
}
/* design buttons */
.button-primary{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0px;
    height: 44px;
    padding: 12px 15px 19px;
    border-radius: 5px;
    background: #FD6E0A;
}
.design-home{
    font-size:large;
    border: none;
    background: #FFF8F3;
}

.design-home:hover{
    font-size:large;
    border: none;
    background:#FD6E0A;
    background-color:burlywood;}

nav li:hover{
    background-color:blue;
}
/* header title design */
.header-title{
    margin: 30px 80px 5px;
    font-weight:900;
    font-size: 220%;
}
/* inside my nav header */
.inside-button{
    color: #FD6E0A;
}

/* design image */

.main-image{
    border-radius: 50%; 
    width: 500px;
    height: 500px;
    margin-left: 435px;
    margin-top: 80px;
    margin-bottom: 0px;
    
    }
  /* .image-design{
     border-radius: 50%; 
    width: 500px;
    height: 500px;
    margin-left: 435px;
    margin-top: 80px;
    margin-bottom: 2px;  
     background-color: aqua;  
    background: #FD6E0A;}  */

    /* ornab design */
    nav a{
        text-decoration: none;
        color:black;
    }
    /* all about (About me section)  */
    .about-me-section{
        width:600px;
        height: 250px;
        border: 2px solid black;
        margin: 130px 230px 110px;
        padding: 130px 160px;
        border-radius: 5%;
        transition: width 2s, height 2s;
        background-color:beige;
    }
    .about-me-description{
        color: #757575;
    }
    .footer-side{
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
    }
    .about-me-section:hover{
        width: 600px;
        height: 250px;
        transform: scale(0.95);
    }
    /* designing my eca */
    .eca{
    margin: 10px 10px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgb(0 0 0 / 6%);
    border-radius: 5px;
    margin-bottom: 50px;
    padding: 30px;
    }
    .eca-container{
        display: flex;
        gap: 24px;
    }
    /* designing educational degrees */
    .edu-main-div{
        display: flex;
        justify-content:space-between;
        margin: 35px;
    }
    .edu-sub-div{
        margin: 50px 35px;
        padding: 15px 10px;
    }
    /* about my plans */
    .plans{
        display: flex;
        border: 5px solid black;
        margin-bottom: 500px;
        box-shadow: 10px 10px 10px grey;
    }
    .specific-plans{
        margin: 80px 30px 40px 90px;
    }